@import "tailwindcss";
/* จาก style.css */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    /* padding: 1rem; */ /* เอา padding body ออกเพื่อให้ layout ชิดขอบ */
    background: #f3f4f6;
    color: #111827;
}

/* สไตล์สำหรับ Layout หลัก (ตามภาพโจทย์) */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content-outlet {
  flex: 1; /* ทำให้เนื้อหายืดเต็มพื้นที่ที่เหลือ */
  padding: 1.5rem;
  background-color: #70d5ee; /* สีเหลือง (Outlet) */
}